<div id="<%= dom_id question %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= question.company_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= question.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= question.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= question.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= question.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business type:</strong>
    <%= question.business_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= question.discarded_at %>
  </div>
</div>
