<div id="<%= dom_id assessment %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= assessment.company_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= assessment.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= assessment.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= assessment.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= assessment.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business type:</strong>
    <%= assessment.business_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= assessment.discarded_at %>
  </div>
</div>
