<div id="<%= dom_id service %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= service.company_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= service.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= service.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= service.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business type:</strong>
    <%= service.business_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= service.discarded_at %>
  </div>
</div>
