<%= form_with(model: period_price, class: "contents") do |form| %>
  <% if period_price.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(period_price.errors.count, "error") %> prohibited this period_price from being saved:</h2>

      <ul class="list-disc ml-6">
        <% period_price.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :period_priceable_id %>
    <%= form.text_field :period_priceable_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": period_price.errors[:period_priceable_id].none?, "border-red-400 focus:outline-red-600": period_price.errors[:period_priceable_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :period_id %>
    <%= form.text_field :period_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": period_price.errors[:period_id].none?, "border-red-400 focus:outline-red-600": period_price.errors[:period_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :price_id %>
    <%= form.text_field :price_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": period_price.errors[:price_id].none?, "border-red-400 focus:outline-red-600": period_price.errors[:price_id].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
