<div id="<%= dom_id company %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Company group:</strong>
    <%= branch.company_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Parent branch:</strong>
    <%= branch.parent_branch_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= branch.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= branch.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= branch.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= branch.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Ownership type:</strong>
    <%= branch.ownership_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business type:</strong>
    <%= branch.business_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">currency_code:</strong>
    <%= branch.currency %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Registration number:</strong>
    <%= branch.registration_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Vat:</strong>
    <%= branch.vat_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Address line 1:</strong>
    <%= branch.address_line_1 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">City:</strong>
    <%= branch.city %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Postal code:</strong>
    <%= branch.postal_code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Country:</strong>
    <%= branch.country %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= branch.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Phone number:</strong>
    <%= branch.phone_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Website:</strong>
    <%= branch.website %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Employee count:</strong>
    <%= branch.employee_count %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Fiscal year end month:</strong>
    <%= branch.fiscal_year_end_month %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= branch.discarded_at %>
  </div>
</div>
