<div id="<%= dom_id payment_method %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= payment_method.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= payment_method.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= payment_method.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Currency:</strong>
    <%= payment_method.currency %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= payment_method.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business type:</strong>
    <%= payment_method.business_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= payment_method.discarded_at %>
  </div>
</div>
