<div id="<%= dom_id subscription_plan %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Company group:</strong>
    <%= subscription_plan.company_group_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= subscription_plan.company_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Price:</strong>
    <%= subscription_plan.price_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Period:</strong>
    <%= subscription_plan.period_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= subscription_plan.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= subscription_plan.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= subscription_plan.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Lifecycle status:</strong>
    <%= subscription_plan.lifecycle_status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Workflow status:</strong>
    <%= subscription_plan.workflow_status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business type:</strong>
    <%= subscription_plan.business_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Country code:</strong>
    <%= subscription_plan.country_code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Auto renew:</strong>
    <%= subscription_plan.auto_renew? ? "Yes" : "No" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= subscription_plan.discarded_at %>
  </div>
</div>
