<div id="<%= dom_id inventory %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= inventory.company_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= inventory.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= inventory.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= inventory.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= inventory.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business type:</strong>
    <%= inventory.business_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= inventory.discarded_at %>
  </div>
</div>
