<%= form_with(model: service_group, class: "contents") do |form| %>
  <% if service_group.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(service_group.errors.count, "error") %> prohibited this service_group from being saved:</h2>

      <ul class="list-disc ml-6">
        <% service_group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :company_id %>
    <%= form.text_field :company_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": service_group.errors[:company_id].none?, "border-red-400 focus:outline-red-600": service_group.errors[:company_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": service_group.errors[:name].none?, "border-red-400 focus:outline-red-600": service_group.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_field :description, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": service_group.errors[:description].none?, "border-red-400 focus:outline-red-600": service_group.errors[:description].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :code %>
    <%= form.text_field :code, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": service_group.errors[:code].none?, "border-red-400 focus:outline-red-600": service_group.errors[:code].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :status %>
    <%= form.number_field :status, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": service_group.errors[:status].none?, "border-red-400 focus:outline-red-600": service_group.errors[:status].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :duration %>
    <%= form.number_field :duration, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": service_group.errors[:duration].none?, "border-red-400 focus:outline-red-600": service_group.errors[:duration].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :start_at %>
    <%= form.datetime_field :start_at, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": service_group.errors[:start_at].none?, "border-red-400 focus:outline-red-600": service_group.errors[:start_at].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :business_type %>
    <%= form.number_field :business_type, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": service_group.errors[:business_type].none?, "border-red-400 focus:outline-red-600": service_group.errors[:business_type].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :discarded_at %>
    <%= form.datetime_field :discarded_at, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": service_group.errors[:discarded_at].none?, "border-red-400 focus:outline-red-600": service_group.errors[:discarded_at].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
