<div id="<%= dom_id document_group %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Company group:</strong>
    <%= document_group.company_group_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= document_group.company_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= document_group.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Content:</strong>
    <%= document_group.content %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= document_group.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= document_group.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= document_group.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= document_group.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business type:</strong>
    <%= document_group.business_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= document_group.discarded_at %>
  </div>
</div>
