<div id="<%= dom_id article_group_appointment %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Article group:</strong>
    <%= article_group_appointment.article_group_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Appoint from:</strong>
    <%= article_group_appointment.appoint_from_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Appoint to:</strong>
    <%= article_group_appointment.appoint_to_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Appoint for:</strong>
    <%= article_group_appointment.appoint_for_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Appoint by:</strong>
    <%= article_group_appointment.appoint_by_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= article_group_appointment.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= article_group_appointment.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= article_group_appointment.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= article_group_appointment.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business type:</strong>
    <%= article_group_appointment.business_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= article_group_appointment.discarded_at %>
  </div>
</div>
