<div id="<%= dom_id company_group %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= company_group.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= company_group.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= company_group.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= company_group.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= company_group.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Ownership type:</strong>
    <%= company_group.ownership_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business type:</strong>
    <%= company_group.business_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Currency:</strong>
    <%= company_group.currency %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Registration number:</strong>
    <%= company_group.registration_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Vat:</strong>
    <%= company_group.vat_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Address line 1:</strong>
    <%= company_group.address_line_1 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">City:</strong>
    <%= company_group.city %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Postal code:</strong>
    <%= company_group.postal_code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Country:</strong>
    <%= company_group.country %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= company_group.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Phone number:</strong>
    <%= company_group.phone_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Website:</strong>
    <%= company_group.website %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Employee count:</strong>
    <%= company_group.employee_count %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Fiscal year end month:</strong>
    <%= company_group.fiscal_year_end_month %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= company_group.discarded_at %>
  </div>
</div>
