<div id="<%= dom_id task %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= task.company_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Task group:</strong>
    <%= task.task_group_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= task.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= task.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= task.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Currency:</strong>
    <%= task.currency %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= task.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business type:</strong>
    <%= task.business_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= task.discarded_at %>
  </div>
</div>
