<div id="<%= dom_id article %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Article group:</strong>
    <%= article.article_group_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Company group:</strong>
    <%= article.company_group_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= article.company_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= article.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Content:</strong>
    <%= article.content %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= article.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= article.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= article.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= article.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business type:</strong>
    <%= article.business_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= article.discarded_at %>
  </div>
</div>
