<div id="<%= dom_id customer_group_appointment %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Customer group:</strong>
    <%= customer_group_appointment.customer_group_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Appoint to:</strong>
    <%= customer_group_appointment.appoint_to_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= customer_group_appointment.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= customer_group_appointment.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= customer_group_appointment.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= customer_group_appointment.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business type:</strong>
    <%= customer_group_appointment.business_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= customer_group_appointment.discarded_at %>
  </div>
</div>
