<div id="<%= dom_id notification %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Notification group:</strong>
    <%= notification.notification_group_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= notification.company_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= notification.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= notification.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= notification.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= notification.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business type:</strong>
    <%= notification.business_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= notification.discarded_at %>
  </div>
</div>
