<div id="<%= dom_id booking %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= booking.company_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Appoint from:</strong>
    <%= booking.appoint_from_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Appoint to:</strong>
    <%= booking.appoint_to_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= booking.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= booking.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= booking.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= booking.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business type:</strong>
    <%= booking.business_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= booking.discarded_at %>
  </div>
</div>
