<div id="<%= dom_id department %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= department.company_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= department.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= department.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= department.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Lifecycle status:</strong>
    <%= department.lifecycle_status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Workflow status:</strong>
    <%= department.workflow_status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business type:</strong>
    <%= department.business_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= department.discarded_at %>
  </div>
</div>
