<p style="color: green"><%= notice %></p>

<p>Signed as <%= Current.user.email %></p>

<h2>Login and verification</h2>

<div>
  <%= link_to "Change password", edit_password_path %>
</div>

<div>
  <%= link_to "Change email address", edit_identity_email_path %>
</div>

<div>
  <%= link_to "Send invitation", new_invitation_path %>
</div>

<h2>Access history</h2>

<div>
  <%= link_to "Devices & Sessions", sessions_path %>
</div>

<% Current.company_groups.each do |company_group| %>
  <% retail = company_group if company_group.retail? %>
  <% education = company_group if company_group.education? %>
  <br>

  <% if retail %>
    <p>Retail:</p>
    <%= link_to retail.name, retail_management_stores_path(retail) %>
    <% retail.stores.each do |store| %>
      <br>
      &nbsp;&nbsp;&nbsp;
      <%= link_to store.name, retail_pos_store_path(retail, store) %>
    <% end %>
  <% end %>

  <% if education %>
    <p>Education:</p>
    <%= link_to education.name, education_schools_path(education) %>
  <% end %>

<% end %>
<br>

<%= button_to "Log out", Current.session, method: :delete %>
