<div id="<%= dom_id event %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Event group:</strong>
    <%= event.event_group_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Company group:</strong>
    <%= event.company_group_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= event.company_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= event.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= event.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= event.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= event.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business type:</strong>
    <%= event.business_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= event.discarded_at %>
  </div>
</div>
