<div id="<%= dom_id answer %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Question:</strong>
    <%= answer.question_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= answer.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= answer.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= answer.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= answer.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business type:</strong>
    <%= answer.business_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= answer.discarded_at %>
  </div>
</div>
