<div id="<%= dom_id shift %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Company group:</strong>
    <%= shift.company_group_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= shift.company_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Period:</strong>
    <%= shift.period_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= shift.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= shift.description %>
  </div>
</div>
