<div id="<%= dom_id document %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Document group:</strong>
    <%= document.document_group_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Company group:</strong>
    <%= document.company_group_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= document.company_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= document.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Content:</strong>
    <%= document.content %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= document.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= document.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= document.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= document.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business type:</strong>
    <%= document.business_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= document.discarded_at %>
  </div>
</div>
