<div id="<%= dom_id company %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= company.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Parent company:</strong>
    <%= company.parent_company_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= company.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= company.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= company.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= company.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Ownership type:</strong>
    <%= company.ownership_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business type:</strong>
    <%= company.business_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Currency:</strong>
    <%= company.currency %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Registration number:</strong>
    <%= company.registration_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Vat:</strong>
    <%= company.vat_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Address line 1:</strong>
    <%= company.address_line_1 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">City:</strong>
    <%= company.city %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Postal code:</strong>
    <%= company.postal_code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Country:</strong>
    <%= company.country %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= company.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Phone number:</strong>
    <%= company.phone_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Website:</strong>
    <%= company.website %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Employee count:</strong>
    <%= company.employee_count %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Fiscal year end month:</strong>
    <%= company.fiscal_year_end_month %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= company.discarded_at %>
  </div>
</div>
