<%= form_with(model: company, class: "contents") do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul class="list-disc ml-6">
        <% company.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:user_id].none?, "border-red-400 focus:outline-red-600": company.errors[:user_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :parent_company_id %>
    <%= form.text_field :parent_company_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:parent_company_id].none?, "border-red-400 focus:outline-red-600": company.errors[:parent_company_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:name].none?, "border-red-400 focus:outline-red-600": company.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_field :description, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:description].none?, "border-red-400 focus:outline-red-600": company.errors[:description].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :status %>
    <%= form.number_field :status, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:status].none?, "border-red-400 focus:outline-red-600": company.errors[:status].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :ownership_type %>
    <%= form.number_field :ownership_type, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:ownership_type].none?, "border-red-400 focus:outline-red-600": company.errors[:ownership_type].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :business_type %>
    <%= form.number_field :business_type, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:business_type].none?, "border-red-400 focus:outline-red-600": company.errors[:business_type].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :currency %>
    <%= form.text_field :currency, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:currency].none?, "border-red-400 focus:outline-red-600": company.errors[:currency].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :registration_number %>
    <%= form.text_field :registration_number, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:registration_number].none?, "border-red-400 focus:outline-red-600": company.errors[:registration_number].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :vat_id %>
    <%= form.text_field :vat_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:vat_id].none?, "border-red-400 focus:outline-red-600": company.errors[:vat_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :address_line_1 %>
    <%= form.text_field :address_line_1, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:address_line_1].none?, "border-red-400 focus:outline-red-600": company.errors[:address_line_1].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :city %>
    <%= form.text_field :city, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:city].none?, "border-red-400 focus:outline-red-600": company.errors[:city].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:postal_code].none?, "border-red-400 focus:outline-red-600": company.errors[:postal_code].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :country %>
    <%= form.text_field :country, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:country].none?, "border-red-400 focus:outline-red-600": company.errors[:country].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.text_field :email, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:email].none?, "border-red-400 focus:outline-red-600": company.errors[:email].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:phone_number].none?, "border-red-400 focus:outline-red-600": company.errors[:phone_number].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :website %>
    <%= form.text_field :website, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:website].none?, "border-red-400 focus:outline-red-600": company.errors[:website].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :employee_count %>
    <%= form.number_field :employee_count, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:employee_count].none?, "border-red-400 focus:outline-red-600": company.errors[:employee_count].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :fiscal_year_end_month %>
    <%= form.number_field :fiscal_year_end_month, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:fiscal_year_end_month].none?, "border-red-400 focus:outline-red-600": company.errors[:fiscal_year_end_month].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :discarded_at %>
    <%= form.datetime_field :discarded_at, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": company.errors[:discarded_at].none?, "border-red-400 focus:outline-red-600": company.errors[:discarded_at].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
