<div id="<%= dom_id cart %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= cart.company_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Cart group:</strong>
    <%= cart.cart_group_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= cart.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= cart.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= cart.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= cart.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business type:</strong>
    <%= cart.business_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= cart.discarded_at %>
  </div>
</div>
