<div id="<%= dom_id cart %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= cart.company_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Cart group:</strong>
    <%= cart.cart_group_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= cart.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= cart.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= cart.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Sku:</strong>
    <%= cart.sku %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Barcode:</strong>
    <%= cart.barcode %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Upc:</strong>
    <%= cart.upc %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Ean:</strong>
    <%= cart.ean %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Manufacturer code:</strong>
    <%= cart.manufacturer_code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Serial number:</strong>
    <%= cart.serial_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Batch number:</strong>
    <%= cart.batch_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Expiration date:</strong>
    <%= cart.expiration_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= cart.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business type:</strong>
    <%= cart.business_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= cart.discarded_at %>
  </div>
</div>
