<%= form_with(model: subscription, class: "contents") do |form| %>
  <% if subscription.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul class="list-disc ml-6">
        <% subscription.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :subscription_group_id %>
    <%= form.text_field :subscription_group_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": subscription.errors[:subscription_group_id].none?, "border-red-400 focus:outline-red-600": subscription.errors[:subscription_group_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :price_id %>
    <%= form.text_field :price_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": subscription.errors[:price_id].none?, "border-red-400 focus:outline-red-600": subscription.errors[:price_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :period_id %>
    <%= form.text_field :period_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": subscription.errors[:period_id].none?, "border-red-400 focus:outline-red-600": subscription.errors[:period_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": subscription.errors[:name].none?, "border-red-400 focus:outline-red-600": subscription.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_field :description, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": subscription.errors[:description].none?, "border-red-400 focus:outline-red-600": subscription.errors[:description].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :code %>
    <%= form.text_field :code, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": subscription.errors[:code].none?, "border-red-400 focus:outline-red-600": subscription.errors[:code].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :lifecycle_status %>
    <%= form.number_field :lifecycle_status, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": subscription.errors[:lifecycle_status].none?, "border-red-400 focus:outline-red-600": subscription.errors[:lifecycle_status].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :workflow_status %>
    <%= form.number_field :workflow_status, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": subscription.errors[:workflow_status].none?, "border-red-400 focus:outline-red-600": subscription.errors[:workflow_status].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :business_type %>
    <%= form.number_field :business_type, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": subscription.errors[:business_type].none?, "border-red-400 focus:outline-red-600": subscription.errors[:business_type].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :country_code %>
    <%= form.text_field :country_code, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": subscription.errors[:country_code].none?, "border-red-400 focus:outline-red-600": subscription.errors[:country_code].any?}] %>
  </div>

  <div class="my-5 flex items-center gap-2">
    <%= form.label :auto_renew %>
    <%= form.checkbox :auto_renew, class: ["block shadow-sm rounded-md border order-first h-5 w-5", {"border-gray-400 focus:outline-blue-600": subscription.errors[:auto_renew].none?, "border-red-400 focus:outline-red-600": subscription.errors[:auto_renew].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :discarded_at %>
    <%= form.datetime_field :discarded_at, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": subscription.errors[:discarded_at].none?, "border-red-400 focus:outline-red-600": subscription.errors[:discarded_at].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
