<%= form_with(model: employee_appointment, class: "contents") do |form| %>
  <% if employee_appointment.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(employee_appointment.errors.count, "error") %> prohibited this employee_appointment from being saved:</h2>

      <ul class="list-disc ml-6">
        <% employee_appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :employee_id %>
    <%= form.text_field :employee_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": employee_appointment.errors[:employee_id].none?, "border-red-400 focus:outline-red-600": employee_appointment.errors[:employee_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :appoint_from_id %>
    <%= form.text_field :appoint_from_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": employee_appointment.errors[:appoint_from_id].none?, "border-red-400 focus:outline-red-600": employee_appointment.errors[:appoint_from_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :appoint_to_id %>
    <%= form.text_field :appoint_to_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": employee_appointment.errors[:appoint_to_id].none?, "border-red-400 focus:outline-red-600": employee_appointment.errors[:appoint_to_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :appoint_for_id %>
    <%= form.text_field :appoint_for_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": employee_appointment.errors[:appoint_for_id].none?, "border-red-400 focus:outline-red-600": employee_appointment.errors[:appoint_for_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :appoint_by_id %>
    <%= form.text_field :appoint_by_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": employee_appointment.errors[:appoint_by_id].none?, "border-red-400 focus:outline-red-600": employee_appointment.errors[:appoint_by_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": employee_appointment.errors[:name].none?, "border-red-400 focus:outline-red-600": employee_appointment.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_field :description, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": employee_appointment.errors[:description].none?, "border-red-400 focus:outline-red-600": employee_appointment.errors[:description].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :code %>
    <%= form.text_field :code, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": employee_appointment.errors[:code].none?, "border-red-400 focus:outline-red-600": employee_appointment.errors[:code].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
