<div id="<%= dom_id address %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Alpha2:</strong>
    <%= address.alpha2 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Alpha3:</strong>
    <%= address.alpha3 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Continent:</strong>
    <%= address.continent %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Nationality:</strong>
    <%= address.nationality %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Region:</strong>
    <%= address.region %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Longitude:</strong>
    <%= address.longitude %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Latitude:</strong>
    <%= address.latitude %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Level total:</strong>
    <%= address.level_total %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Level 1:</strong>
    <%= address.level_1 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Level 2:</strong>
    <%= address.level_2 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Level 3:</strong>
    <%= address.level_3 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Level 4:</strong>
    <%= address.level_4 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Level 5:</strong>
    <%= address.level_5 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Level 6:</strong>
    <%= address.level_6 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Level 7:</strong>
    <%= address.level_7 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Level 8:</strong>
    <%= address.level_8 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Level 9:</strong>
    <%= address.level_9 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Level 10:</strong>
    <%= address.level_10 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= address.discarded_at %>
  </div>
</div>
