<div id="<%= dom_id inventory_transaction %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= inventory_transaction.company_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Appoint from:</strong>
    <%= inventory_transaction.appoint_from_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Appoint to:</strong>
    <%= inventory_transaction.appoint_to_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Appoint for:</strong>
    <%= inventory_transaction.appoint_for_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Appoint by:</strong>
    <%= inventory_transaction.appoint_by_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= inventory_transaction.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= inventory_transaction.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= inventory_transaction.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= inventory_transaction.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business type:</strong>
    <%= inventory_transaction.business_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= inventory_transaction.discarded_at %>
  </div>
</div>
