<div id="<%= dom_id attendance_day %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Company group:</strong>
    <%= attendance_day.company_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= attendance_day.branch_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Employee:</strong>
    <%= attendance_day.employee_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Logable:</strong>
    <%= attendance_day.logable_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Period:</strong>
    <%= attendance_day.period_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Attendance date:</strong>
    <%= attendance_day.attendance_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Check in:</strong>
    <%= attendance_day.check_in %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Check out:</strong>
    <%= attendance_day.check_out %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Break start:</strong>
    <%= attendance_day.break_start %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Break end:</strong>
    <%= attendance_day.break_end %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Total seconds present:</strong>
    <%= attendance_day.total_seconds_present %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Total seconds break:</strong>
    <%= attendance_day.total_seconds_break %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Total seconds worked:</strong>
    <%= attendance_day.total_seconds_worked %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Total seconds overtime:</strong>
    <%= attendance_day.total_seconds_overtime %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Shift:</strong>
    <%= attendance_day.shift_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Attendance status:</strong>
    <%= attendance_day.attendance_status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Recorded method:</strong>
    <%= attendance_day.recorded_method %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Ip address:</strong>
    <%= attendance_day.ip_address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Device:</strong>
    <%= attendance_day.device_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Location lat:</strong>
    <%= attendance_day.location_lat %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Location lng:</strong>
    <%= attendance_day.location_lng %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= attendance_day.notes %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Approved by:</strong>
    <%= attendance_day.approved_by_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Approved at:</strong>
    <%= attendance_day.approved_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Edited by:</strong>
    <%= attendance_day.edited_by_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Edited at:</strong>
    <%= attendance_day.edited_at %>
  </div>
</div>
