<div id="<%= dom_id system_subscription %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">System subscription plan:</strong>
    <%= system_subscription.system_subscription_plan_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Subscription group:</strong>
    <%= system_subscription.subscription_group_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Company group:</strong>
    <%= system_subscription.company_group_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= system_subscription.company_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Price:</strong>
    <%= system_subscription.price_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Period:</strong>
    <%= system_subscription.period_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= system_subscription.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= system_subscription.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= system_subscription.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Lifecycle status:</strong>
    <%= system_subscription.lifecycle_status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Workflow status:</strong>
    <%= system_subscription.workflow_status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business type:</strong>
    <%= system_subscription.business_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Country code:</strong>
    <%= system_subscription.country_code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Auto renew:</strong>
    <%= system_subscription.auto_renew? ? "Yes" : "No" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= system_subscription.discarded_at %>
  </div>
</div>
