<div id="<%= dom_id brand %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= brand.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= brand.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= brand.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= brand.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business type:</strong>
    <%= brand.business_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= brand.discarded_at %>
  </div>
</div>
