<div id="<%= dom_id system_subscription_group %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">System subscription plan:</strong>
    <%= system_subscription_group.system_subscription_plan_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Company group:</strong>
    <%= system_subscription_group.company_group_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= system_subscription_group.company_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Period:</strong>
    <%= system_subscription_group.period_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= system_subscription_group.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= system_subscription_group.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= system_subscription_group.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Lifecycle status:</strong>
    <%= system_subscription_group.lifecycle_status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Workflow status:</strong>
    <%= system_subscription_group.workflow_status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business type:</strong>
    <%= system_subscription_group.business_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Country code:</strong>
    <%= system_subscription_group.country_code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Auto renew:</strong>
    <%= system_subscription_group.auto_renew? ? "Yes" : "No" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= system_subscription_group.discarded_at %>
  </div>
</div>
