<div id="<%= dom_id exam %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Exam group:</strong>
    <%= exam.exam_group_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= exam.company_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= exam.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= exam.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= exam.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= exam.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business type:</strong>
    <%= exam.business_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= exam.discarded_at %>
  </div>
</div>
