<div id="<%= dom_id document_appointment %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Document:</strong>
    <%= document_appointment.document_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Appoint from:</strong>
    <%= document_appointment.appoint_from_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Appoint to:</strong>
    <%= document_appointment.appoint_to_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Appoint for:</strong>
    <%= document_appointment.appoint_for_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Appoint by:</strong>
    <%= document_appointment.appoint_by_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= document_appointment.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= document_appointment.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= document_appointment.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= document_appointment.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business type:</strong>
    <%= document_appointment.business_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= document_appointment.discarded_at %>
  </div>
</div>
