<div id="<%= dom_id policy_appointment %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Policy:</strong>
    <%= policy_appointment.policy_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Appoint to:</strong>
    <%= policy_appointment.appoint_to_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= policy_appointment.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= policy_appointment.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= policy_appointment.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Kind:</strong>
    <%= policy_appointment.kind %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= policy_appointment.discarded_at %>
  </div>
</div>
