<div id="<%= dom_id tag_appointment %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Tag:</strong>
    <%= tag_appointment.tag_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Appoint to:</strong>
    <%= tag_appointment.appoint_to_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Value:</strong>
    <%= tag_appointment.value %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= tag_appointment.description %>
  </div>
</div>
