<div id="<%= dom_id policy %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= policy.company_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= policy.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= policy.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= policy.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Resource:</strong>
    <%= policy.resource %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Action:</strong>
    <%= policy.action %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= policy.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Business type:</strong>
    <%= policy.business_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discarded at:</strong>
    <%= policy.discarded_at %>
  </div>
</div>
